# Bash
/**/.bash_logout diff=bash eol=lf text
/**/.bashrc diff=bash eol=lf text
/**/.profile diff=bash eol=lf text

# Git
/**/.gitattributes eol=lf export-ignore text
/**/.gitignore eol=lf export-ignore text

# Tmux
/**/.tmux.conf eol=lf text

# Vim
/**/.vimrc eol=lf text
